<% provide(:title, 'Sign Up') %>
<% if flash[:errors] %>
<div>       
  <% flash[:errors].each do |e| %>
  <div class="alert alert-danger">
    <p><%= e %></p>
  </div>
  <% end %> 
</div>
<% end %>
<%= form_for(:user, url: users_create_path) do |f| %>
<div class="form-container">
  <div class="form-group">
    <h1>Sign Up</h1>
    <%= f.label :user_name, "Username:" %>
    <%= f.text_field :user_name, class: "form-control" %><br>
    <%= f.label :email, "Email:" %>
    <%= f.email_field :email, class: "form-control" %><br>
    <%= f.submit 'Sign Up', class: "btn btn-primary" %>
  </div>
</div>
<% end %>