<% provide(:title, 'Create Event') %>

<% if flash[:errors] %>
  <div>       
    <% flash[:errors].each do |e| %>
      <div class="alert alert-danger">
        <p><%= e %></p>
      </div>
    <% end %> 
  </div>
<% end %>

<%= form_for(:event, url: events_create_path) do |f| %>
<div class="form-container">
  <div class="form-group">
    <h1>Create Event</h1>
    <%= f.label :title, "Title:" %><br>
    <%= f.text_field :title, class: "form-control" %><br>
    <%= f.label :description, "Description:" %><br>
    <%= f.text_area :description, class: "form-control" %><br>
    <%= f.label :location, "Location:" %><br>
    <%= f.text_field :location, class: "form-control" %><br>
    <%= f.label :date, "Date:" %><br>
    <%= f.datetime_field :date, class: "form-control" %><br>
    <%= f.submit 'Create Event'%>
  </div>
</div>
<% end %>