<% provide(:title, "#{@creator.title}") %>
<h1>Creator:</h1>

<h1>Title:</h1>
<h3><%= @creator.title %></h3>
<h2>Location:</h2>
<p><%= @creator.location %></p>
<h2>Description:</h2>
<p><%= @creator.description %></p>
<h2>Date and time:</h2>
<p><%= @creator.date %></p>

<% if logged_in? %>
	<% if current_user.attendances.find_by(attended_event_id: @creator.id) %>
		You are going to attend this event
	<% else %>	  
		<%= form_for(:attendance, url: attendances_create_path) do |f| %>
			<%= f.hidden_field :attended_event_id, value: @creator.id %>
			<%= f.submit 'Attend' %>
		<% end %>
	<% end %>
<% end %>

<h3>Attendees:</h3>
<ul>
	<% @creator.attendees.each do |a| %>
	<li><%= a.user_name %></li>
	<% end %>
</ul>